.login-screen,
.forgot-screen {
  background-image: url("../images/login.jpg");
  height: 100vh;
  @extend %posRelative;
  @extend %w100;
  // @extend %flexCenter;

  background-size: cover;
  &:before {
    content: "";
    @extend %posAbsolute;
    background-color: var(--black-alpha7);
    @extend %w100;
    @extend %h100;
  }
  .login-box,
  .forgot-box {
    @extend %floatToCenter;
    min-height: min-content;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 14px 6px var(--white-alpha2);
    width: 400px;
    @include phone {
      width: 90%;
    }
    @include phoneP {
      width: 80%;
    }
    @include phoneL {
      width: 400px;
    }

    .title {
      margin: 0px 20px;
      padding: 10px 0px;
      text-align: center;
      @extend %posRelative;
      span {
        background-color: var(--white);
        padding: 0 7px;
      }

      &:before {
        content: "";
        @extend %w100;
        @extend %posAbsolute;
        left: 0;
        border-bottom: 6px solid transparent;
        border-image: linear-gradient(to right, var(--blue), var(--black));
        border-image-slice: 1;
        top: 20px;
        z-index: -1;
      }
    }
    .login-box-img,
    .forgot-box-img {
      @extend %posRelative;
      height: 200px;
      width: 100%;
      background-image: url("../images/login-1.jpg");
      background-size: cover;
      border-bottom-right-radius: 210px;
      border-bottom-left-radius: 210px;
      margin-bottom: 30px;
      .icon-box {
        height: 50px;
        width: 50px;
        border: 2px solid var(--gray);
        font-size: 20px;
        @extend %borderCircle;
        @extend %flexCenter;
        @extend %floatToXCenter;
        bottom: -28px;
        background-color: var(--white);
      }
    }
    .login-box-form,
    .forgot-box-form {
      padding: 20px;
      label {
        font-weight: 600;
        margin-bottom: 5px;
      }
      .password-toggle-btn {
        background-color: transparent;
        border: 0;
        cursor: pointer;
      }
      .forgot-password {
        float: right;
        color: var(--black-alpha4);
      }
      .btn {
        background-color: var(--blue);
        background: linear-gradient(
          to right,
          var(--blue) 0%,
          var(--black) 100%
        );
        color: var(--white);
        border: none;
        transition: all 800ms;
        &:hover {
          background: linear-gradient(
            to right,
            var(--blue-dark),
            var(--black-dark)
          );

          box-shadow: 0px 5px 11px 3px var(--black-alpha4);
        }
      }
    }
  }
}
